.firsthex{
  background-image: url("../images/league.jpg");
  background-size: cover;
  background-position: top;
}
.firsthex:hover{
}
.secondhex{
  background-image: url("../images/workinprogress.jpg");
  background-size: cover;
  background-position: top;
}
.thirdhex{
  //background-image: url("");
}
.fourthhex{
  background-image: url("../images/workinprogress.jpg");
  background-size: cover;
  background-position: top;
}
